<div class="container">
  <div class="row catagories">
    <div class="col s4 m2 l2 hoverable">World</div>
    <div class="col s4 m2 l2 hoverable">Local</div>
    <div class="col s4 m2 l2 hoverable">Business</div>
    <div class="col s4 m2 l2 hoverable">Finance</div>
    <div class="col s4 m2 l2 hoverable">Tech</div>
    <div class="col s4 m2 l2 hoverable">Politics</div>
    <div class="col s4 m2 l2 hoverable">Science</div>
    <div class="col s4 m2 l2 hoverable">Health</div>
    <div class="col s4 m2 l2 hoverable">Outdoors</div>
    <div class="col s4 m2 l2 hoverable">Sports</div>
    <div class="col s4 m2 l2 hoverable">Other</div>
    <div class="col s4 m2 l2 hoverable">For Fun</div>
  </div>

  <div class="row topRow">
    {{#if two}}
    <div id="sectionOne" class="col s12 m4 l5">
      <a id='articleLink' class='hoverable posts-articles-individual' data="{{items.id}}">
        <h5 class='nytTitle'>{{items.title}}</h5>
        <img src="{{items.img}}" width="100%" height="300px">
        <p class='nytText'>{{items.snippet}}</p>
        <p class='nytAuthor'>By {{items.author}}</p>
      </a>
    </div>
    <div id="sectionTwo" class="col s12 m4 l3">
      <a id='articleLink' class='hoverable posts-articles-individual' data="{{two.id}}">
        <h5 class='nytTitle'>{{two.title}}</h5>
        <img class='nytImage' src="{{two.img}}" width="100%" height="250px">
        <p class='nytText'>{{two.snippet}}</p>
        <p class='nytAuthor'>By {{two.author}}</p>
      </a>
    </div>
    <div id="sectionThree" class="col s12 m4 l4">
      <a id='articleLink' class='hoverable posts-articles-individual' data="{{three.id}}">
        <h5 class='nytTitle'>{{three.title}}</h5>
        <img src="{{three.img}}" width="100%" height="300px">
        <p class='nytText'>{{three.snippet}}</p>
        <p class='nytAuthor'>By {{three.author}}</p>
      </a>
    </div>
    {{/if}}
    <div class="container">
      <div class="row spacer">
        {{#each spacerArticles}}
        <div class="col s12 m6 l3" style="margin-right: 2.5px; margin-left: 2.5px;">
          <a id='articleLink' class='hoverable posts-articles-individual' data="{{id}}">
            <h5 class='nytTitle'>{{title}}</h5>
            <img src="{{img}}" width="100%" height="200px">
            <p class='nytText'>{{snippet}}</p>
            <p class='nytAuthor'>By {{author}}</p>
          </a>
        </div>
        <div class="col s0 m0 l1"></div>
        {{/each}}
        <div class="col s12 m6 l3 classy" style="height: 200px; width: 200px; background: black; color: white;">Paradigm</div>
      </div>
    </div>
    <div class="row"></div>

    <div class="row">
      <div id="nytStuffTest" class="col s12 m7 l7">

        {{#each arr}}
        <a class='articleLink hoverable' data-url="{{url}}" data-name="{{title}}" data-author="{{author}}" data-image="{{img}}" data-snippet="{{snippet}}"
          href='/article/{{title}}'>
          <h5 class='nytTitle'>{{title}}</h5>
          <img class='nytImage' src="{{img}}">
          <p class='nytText'>{{snippet}}</p>
          <p class='nytAuthor'>{{author}}</p>
        </a>
        {{/each}}

      </div>
      <div id="nytStuff" class="col s12 m5 l5">
        {{#each arrTwo}}
        <a class='articleLink hoverable' data-url="{{url}}" data-name="{{title}}" data-author="{{author}}" data-image="{{img}}" data-snippet="{{snippet}}"
          href='/article/{{title}}'>
          <h5 class='nytTitle'>{{title}}</h5>
          <img class='nytImage' src="{{img}}">
          <p class='nytText'>{{snippet}}</p>
          <p class='nytAuthor'>{{author}}</p>
        </a>
        {{/each}}
      </div>
    </div>
  </div>


  <script>
    $(".articleLink").on("click", function () {
      let articleData = {
        apiUrl: $(this).attr("data-url"),
        title: $(this).attr("data-name"),
        snippet: $(this).attr("data-snippet"),
        author: $(this).attr("data-author"),
        image: $(this).attr("data-image")
      };
      console.log(articleData);

      $.post("/article", articleData, function (data) {
        console.log(articleData);
      })


    });

    $(".posts-articles-individual").on('click', function () {
      let postsUserArticleId = $(this).attr('data');
      window.location.href = "/userarticle/" + postsUserArticleId;
      console.log(postsUserArticleId);

      $.get('/userarticle' + postsUserArticleId, function (req, res) {
        console.log("I sent something possibly");
      })
    })
  </script>